forEach: View
fileName: mapper-{{namePascalCase}}.xml
---
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="{{options.package}}.mapper.{{namePascalCase}}Mapper">
    <select id="findList" resultType="{{nameCamelCase}}">
        SELECT {{#fieldDescriptors}}
            {{#if @last}}{{nameCamelCase}}
            {{else}}{{nameCamelCase}},
            {{/if}}
            {{/fieldDescriptors}}
        FROM {{nameCamelCase}}
    </select>
    
    
    <select id="findOneById" parameterType="long" resultType="{{nameCamelCase}}">
        SELECT {{#fieldDescriptors}}
            {{#if @last}}{{nameCamelCase}}
            {{else}}{{nameCamelCase}},
            {{/if}}
            {{/fieldDescriptors}}
        FROM {{nameCamelCase}}
        WHERE id = #{id}
    </select>
    
</mapper>