.llm-ui {
  border-radius: 5px;
  border: 1px solid #ced4da;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #F9FCFF;
}

.content-area {
  border: 1px solid #ced4da; 
  background-color: #fff; 
  border-radius: 0.25rem; 
  height : 100%;
  width : 100%;
  overflow-y: auto; 
  text-align: left;
  padding:10px;
}