.node-info-panel {
  position: absolute;  
  top: 1rem;             
  left: 1rem;             
  width: auto;
  height: auto;
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.625rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.btn-primary {
  margin-top: 10px;
  font-size: 14px; 
}